.card-body{
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
    max-height: 8vh;
    min-height: 8vh;

}

.card:hover{

  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

#carotext{
 background-color: #555555;
}

.row{
 margin-bottom: 0;

}

.card{
 margin: auto;

}