html{
    height: 100%;
}

body{
    background-color:#beff6f ;
    overflow-y: scroll;
    height: 100%;
 }



 .container-fluid{
position: absolute;
 height: 100vh;
     margin: 0;
     padding: 0;
display: inline-block;
 }

 .nav-top{

     float:right;
     overflow:hidden;
    width:auto;
    display:inline;

 }
 .nav-top2{

     float:right;
    margin-left:10px;
 }

.formButtom{
    margin-left: 35%;
}

form {
    margin: auto;
}


.sidebar{
    width: 20%;
    height: 100vh !important;
    background-color: #3A7734 !important;


}

.footer {
    position: relative;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    bottom: 0;
    width: 100%;
    height:fit-content;
    background-color:#ffeeb1;
    color: black;
    text-align: center;
    overflow: hidden;
    left:0;
    margin: 0;
    padding: 1%;


}


.footer .footer-right i{
    padding-left: 5%;
    float: right;

}



    .striped-border {
        border: 3px dashed #000;
        width: 80%;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }


.footer .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;

}
.footer .footer-left{
    float:left;
    margin-left: 10%;

}

.footer .footer-right{

    margin-right: 10%;



}




/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer{
        position: relative;
    }


}

