{% extends "index.html" %}
{% block body %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="../static/quill-emoji.css">
{#    <script defer src="{{ url_for('static', filename='quill-emoji.js') }}"></script>#}

    <script defer src="{{ url_for('static', filename='quill-emoji.js') }}"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.3.0/fuse.min.js"></script>
    <script defer src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script defer src="{{ url_for('static', filename='markup.js') }}"></script>


<form method="post"  action = "{{ url_for('create_post') }}" >

<dl>
        <dt>Title:
        <dd><input type=text size=70 name=title>

    <dt> Categories:</dt>
    <dd>
<select name="categories">
  <option value="Tech">Tech</option>
  <option value="Life">Life</option>
  <option value="Travel">Travel</option>
  <option value="Emo">Emo</option>
</select>
        </dd>
        <dt>Text:
        <dd><div contenteditable="true" id="edit_post"  >
{#    <input id="text1" name="text" type="hidden" >#}
</div>
        <dd><input type=submit value=Add>
      </dl>
<input name="text" type="hidden">

</form>




{% endblock %}

