{% extends "index.html" %}
{% block body %}
{# action = "{{ url_for('add') }}"   {{ url_for('register') }}#}
<form  action = "/submit" method="post" style="margin: auto;">
{{ form.hidden_tag() }}
    <div class="form-group">
    {{ form.username.label  }} {{ form.username(class_="form-control") }}
          </div>
    <div class="form-group">
    {{ form.email.label }} {{ form.email(class_="form-control") }}
    </div>
        <div class="form-group">
    {{ form.password.label }} {{ form.password(class_="form-control") }}
        </div>
    <div class="form-group">
    {{ form.confirm .label }} {{ form.confirm (class_="form-control") }}
    </div>
    <div class="form-check">
    {{ form.accept_tos.label(class_="form-check-label") }} {{ form.accept_tos}}
    </div>
    <input type="submit" class="btn btn-primary formButtom" value="Go" >
<div class="g-recaptcha" data-sitekey="6LfhlIUUAAAAAN5ON1D9dBsvWRF6_GfbbLerIwBk"></div>
</form>
{% endblock %}


<