{% extends "index.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">



    <div class="col" id="carotext">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../client/src/image/800x400.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../client/src/image/800x400.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../client/src/image/800x400.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>

     <div class="col" id="carotext">
  <div class="side-text">
       <h2> Most popular post </h2>
        <h2> heading </h2>
       <p>
           some paragraph
       </p>

   </div>
     </div>

{% endblock %}

{% block body2 %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../client/src/image/400x400.png" alt="Card image cap">
 <h4> {{ techarticle.title }}</h4>
  <div class="card-body">
  {{ techarticle.body|safe }}
  </div>
<a href="{{ url_for('post', num='Tech') }}" >
Read more
</a>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../client/src/image/400x400.png" alt="Card image cap">
  <h4> {{ lifearticle.title }}</h4>
    <div class="card-body">
  {{ lifearticle.body |safe }}
  </div>
<a href="{{ url_for('post', num='Life') }}" >
Read more
</a>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../client/src/image/400x400.png" alt="Card image cap">
 <h4> {{ travelartile.title }}</h4>
  <div class="card-body">
    {{  travelartile.body | safe }}
  </div>
<a href="{{ url_for('post', num='Travel') }}" >
Read more
</a>
</div>

{% endblock %}
