<!DOCTYPE html>
<html lang="en">
<head>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title> HeyitsThatMicky.eu </title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../client/src/Components/Nav1.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>
<div class="container-fluid">

    <div class="row">
    <nav class="navbar navbar-light ">
    <a to="/" class="navbar-brand">
        <img src='../client/src/image/logo.png' width="40%" height="40%" alt="logo"/>
    </a>

<div class="nav-top">
        {%  if session['logged_in']  %}
            {%  if  session.get('user')['username'] == 'admin' %}
            <a href="{{ url_for('create_post') }}" class="nav-top2" > add post </a>
                <a href="{{ url_for('view_all_posts') }}" class="nav-top2" > View all post </a>
                {% endif %}
           Welcome  {{ user_name }}
        <a href="{{ url_for('logout') }}" class="nav-top2" >logout</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="nav-top2" > Login</a>
             <a href="{{ url_for('register') }}" class="nav-top2" >Register</a>
        {% endif %}

    <button class="navbar-toggler nav-top2" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</div>



    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" data-toggle="collapse" data-target="#navbarNav">
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link">Home <img src='../client/src/image/home.png' class='logo' alt="logo"/> </a>

            </li>
            <li class="nav-item">
                <a to="/" class="nav-link">Tech<img src='../client/src/image/tech.png' class='logo' alt="logo"/></a>
            </li>
            <li class="nav-item">
                <a to="/" class="nav-link">Life<img src='../client/src/image/life.png' class='logo' alt="logo"/></a>
            </li>
            <li class="nav-item">
                <a to="/" class="nav-link">Travel <img src='../client/src/image/travel.png' class='logo'
                                                       alt="logo"/></a>
            </li>
            <li class="nav-item">
                <a to="/" class="nav-link">Emo stuff <img src='../client/src/image/emo.png' class='logo'
                                                          alt="logo"/></a>
            </li>
            <li class="nav-item">
                <a to="/about" class="nav-link">about <img src='../client/src/image/about.png' class='logo' alt="logo"/></a>
            </li>

        </ul>

    </div>

</nav>
</div>
<div class="row mainbody">
<div class="col">
    <div class="row">
{% block body %}{% endblock %}
</div>

<div class="row">
    {%  block body2 %} {% endblock %}
</div>
</div>
<div class="col-md-2 sidebar">

    <img style="width:200px; height:200px;  margin-left: auto;
    margin-right: auto; display:block;" src="https://lh3.googleusercontent.com/R16yJKCWEzsZN47aisYOcwTi855V3gPVNwUWQyVm-39jFyWxUFwwkEutbf8YesdwO926XKNNKK94mq20zvJ0iMAn7Zq4d_gKK4AYrPaLhATIw447p7sQASYW-4UC0phI8XwIBXtLHkiGUB3LqIG5BOJKRlbIeACPTyBeWDvTreGh_TjQm07b9a1B5N1xYE4RqfxwGuwmiukpawXiK6DBZ37dLbFdR2Wnl9QByXoIWcpMc72q3gE0lkal9yKuwCX2ssY0Z47izeq-cMUlE9ZYgYNGeNoz1ZwOWCP0I-xO15yAnfel6h1P4-PoqI7HiYy03SpVD-daQ7O6FhQRO7fwc-JCFLLay-Xkn8NFeWGAmY90y8I4743L73E4PKgqQ6vefRx28LdpKOe1IYQ31uQatrHGCCkg86IPRbA7qC-BOOoAtcYvcpHaHTzZWpySoFfHMKEalQoly_zyvl-0cT_L98iDBxZzHTUnpPhgA1HlbnasHTePC1eowtSuQWxUEEt-gR7ZRXNHuv17ta5_Mqld29I4amUu9jpKehu9wIdXHBHsTT0JPb-pOXrRIk5HXfCbbGSzkmCXF-z19SEcosv9-cV47XpMvQbjr9dVNJlm-JvEBeS8jLXaOUrLV_Erbe2aGk80Lb27DVjrWNCLtz53qYkJrmFANuB2hvD0kVU6Xze79q8G4zavDlieRYEv3IcEEBlQc0QSlBVjC9EaD9JpqjSdcpos52FoR1Vexg=s370-no">

    <p> Hey! I am Micky and I am beginner blogger and self proclaimed programmer who are here to talk about everything!</p>

    <div class="striped-border"> </div>

    <b> Follow me here</b>

<div>
    <script>
  (function() {
    var cx = '014834724596807578234:ntpzcufzwoc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>


    <div>
        search here
     <input type="text" placeholder="Search..">
    </div>


</div>
</div>

<div class="row" style="bottom: 0 !important; height: 10vh; ">
    <footer class="footer">
    <p>Footer</p>
    <div class="footer-right">


        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </div>

    <div class="footer-left">
        <p>HeyitsThatMicky.eu&copy; 2018</p>
    </div>
</footer>

</div>

</div>

</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>

</html>