{% extends "index.html" %}
{% block body %}
<form  action="{{ url_for('login') }}" method="post" class="border border-dark">
{# style="margin: 5% auto;  width:30%;" #}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control"   name="password" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" value="Submit" class="btn btn-primary formButtom" >Login</button>

</form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% endblock %}