{% extends "index.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Post.css') }}">

<article class="post" role="article">
<h3 class="post-title"> {{ article.title }} </h3>

<div class="post-header">
<time class="published" datetime="{{ article.created_date }}" title="{{ article.title }}">
{{ article.created_date }}
</time>


</div>

<div class="post-body">

    {{ article.body | safe }}

</div>





<div class="post-bottom">

<ul style="list-style-type: none;">

    {% for row in comments %}
    <li>
       {{ row.created_date.strftime('%d-%m-%Y  %H:%M') }}   by  {{ row.user_id }} :
        {{ row.body }}
         {%  if  session.get('user')['username'] == 'admin'  %}
            <a href="{{ url_for('delete_comment' ,id=row.id, num=article.id) }}"> delete </a>
                {% endif %}
    </li>

    {% endfor %}

</ul>


 <form method="post"  action = "{{ url_for('create_comment', num = article.id) }}">

     <textarea name="commentBody" rows="4" cols="50" id="commentBodyField"  placeholder="Enter your comment..."></textarea><br>


     <input type=submit value=Add>
 </form>



</div>

</article>

{% endblock %}