{% extends "index.html" %}
{% block body %}
<ul style="list-style-type: none;">

    {%  for row in posts %}
<li>

   {{ loop.index }} :  {{ row.title }}
     <a href="{{ url_for('post', num = row.id) }}" > View </a>
    <a href="{{ url_for('delete_post', id = row.id) }}" > delete </a>


</li>


{%  endfor %}



</ul>

{% endblock %}