.navbar-brand{
	float:left;
}

#navbarNav{
	align-content: center;
}
.navbar-nav{
	display: inline;
}
.nav-item{
	display: inline;
}

.can{

	margin-left: auto;
	margin-right: auto;
	position: relative; /* has to be position relative for left to work, or you could just do margin-left: -50px; too */
left: -12%;
}
.navbar{

	top:0;
	background-color: #CDDC39;
	width: 100%;
	height: 10%;
	font-family: 'Comfortaa', cursive;
}

.navbar ul{

   list-style: none;
   text-align: center;

}

.logo{
	width:5%; 
	height:5%; 
}